desktop.ini

# Prevent build files
bin/
obj/
.vscode/

# Exclude Folders
02.Basic_errors/
Await_in_work/
Divisibility/
2.Palindrome-2/
5.Valid_Parentheses_1/
5.Valid_Parentheses_2/
Read_Excel_Data/

# Exclude Files