@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <h4>UserSecrets IN ASP.Net Core</h4>

    <!-- show Getting From UserSecrets -->
    <div>@Model.ConnectionString</div>
</div>